<div class="row">
    <div class="thumbnail" ng:if="stream.thumbnail">
        <img ng:src="{{ stream.thumbnail }}">
    </div>
    <div class="details">
        <span class="title">{{ stream.title ? stream.title : 'Stream of ' + stream.user }}</span>
        <span class="user">{{ stream.user }}</span>
        <span ng:if="stream.viewers != null" class="viewers">{{ stream.viewers }} viewers</span>
        <span ng:if="stream.scheduled_start_time != null && type == 'upcoming'" class="schedule">Scheduled for: {{ stream.scheduled_start_time }}</span>
    </div>
</div>