<ion-tabs class="tabs-icon-top tabs-positive">

  <!-- Live Tab -->
  <ion-tab title="Live" icon-off="ion-record" icon-on="ion-record" href="#/tab/live">
    <ion-nav-view name="tab-live"></ion-nav-view>
  </ion-tab>

  <!-- Upcoming Tab -->
  <ion-tab title="Upcoming" icon-off="ion-clock" icon-on="ion-clock" href="#/tab/upcoming">
    <ion-nav-view name="tab-upcoming"></ion-nav-view>
  </ion-tab>

  <!-- Recorded Tab -->
  <ion-tab title="Recorded" icon-off="ion-videocamera" icon-on="ion-videocamera" href="#/tab/recorded">
    <ion-nav-view name="tab-recorded"></ion-nav-view>
  </ion-tab>


</ion-tabs>
