.stream-card {
  padding: 5px 5px;
  border-bottom: 1px solid gray;
  height: 110px; }
  .stream-card .thumbnail {
    text-align: center; }
    .stream-card .thumbnail img {
      margin-top: 5px;
      vertical-align: middle;
      max-width: 100%; }
  .stream-card .details .title, .stream-card .details .user, .stream-card .details .viewers {
    display: block; }
  .stream-card .details .title {
    font-size: 110%;
    font-weight: 600; }
  .stream-card:last-child {
    margin-bottom: 40px;
    border-bottom: none; }

.notice {
  padding: 15px;
  text-align: center;
  font-size: 120%; }
